# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# Node
node_modules/
dist/
.output/
.vinxi/
.nitro/
.tanstack/


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.local

# Uploads
backend/uploads/*